<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
        /* eso lo que hace es que no hereda del padre, osea que no cogemos el css de la web original */
        /* all: initial; */
      }
      .redbg{
        background-color: red;
      }
      .greenbg{
        background-color: green;
      }
      .bluebg{
        background-color: blue;
      }
      .greybg{
        background-color: grey;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="row greybg">
      <!-- asi podemos controlar lo que queremos que midan las columnas poniendo el numero detras de col -->
      <!-- para elegir el selector elegimos mediante el tag sm/xs/MD/LG/xl y seguido de un numero-->
      <!-- con offset lo que hacemos es decirle en que columna queremos que empiece osea que con offset uno hacemos como un tabulador -->
      <div class="col-2 offset-1 redbg">col red</div>
      <div class="col-3 offset-1 greenbg">col green</div>
      <div class="col-1 offset-1 bluebg">col blue</div>
    </div>
    <!-- btn es una clase de buton de bootstrap -->
    <button class="btn btn-primary btn-lg">Login</button>
    <button class="btn btn-secondary btn-sm">Logout</button>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-info">Logout</button>
    <button class="btn btn-danger">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-light">Login</button>
    <button class="btn btn-dark">Logout</button>
    <!-- <h2>hola soy [[first_name]] [[last_name]]!</h2> -->
    <!-- <h3>y tengo [[age]] años</h3> -->
    <!-- <input type:"text" value="{{first_name::input}}" /> -->
    <!-- <input type:"range" min=18 value="{{age::input}}" max=99 /> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Mother fucker'
          }, prueba2: {
            type: String
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
