<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido de nuevo!</span>
    <!-- <input type:"text" value="{{first_name::input}}" />
    <input type:"range" min=18 value="{{age::input}}" max="99" /> -->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email:{
            type: String,
            value: "tony@stark.com"
          }, password: {
            type: String
          }, isLogged :{
            value: false,
            type: Boolean
          }
        };
      }
      login() {
        console.log("login");
        console.log("envio de la peticion");

        var LoginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(LoginData);
        this.$.doLogin.generateRequest();

        console.log("Request sent");

      }
      showError(error){
        console.log("ha habido un error");
        console.log(error);
      }
      manageAJAXResponse(data){
        console.log("LLegaron lso resultados del AJAX");
        console.log(data.detail.response);

        this.isLogged = true;
        window.location = "user/" + data.detail.response.idUsuario;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
