<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Soy el receptor</h3>
    <h3>Este curso es [[course]]</h3>
    <h3>y estamos en el año [[year]]</h3>
    <input type="text" value="{{course::input}}"></input>
    <input type="text" value="{{year::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course : {
            type: String,
            observer: '_courseChanged'
          }, year : {
            type: String,
            observer: '_yearChanged'
          }
        };
      }
      _courseChanged(newValue, oldValue){
        console.log("El valor de course ha cambiado");
        console.log("valor nuevo " + newValue);
        console.log("valor viejo " + oldValue);
      }
      _yearChanged(newValue, oldValue){
        console.log("El valor de year ha cambiado");
        console.log("valor nuevo " + newValue);
        console.log("valor viejo " + oldValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
