<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>cuenta con iban [[iban]]</h2>
    <h3>con un saldo de [[balance]]</h3> -->
    <!-- <input type:"text" value="{{first_name::input}}" />
    <input type:"range" min=18 value="{{age::input}}" max="99" /> -->
    <!-- <template is="dom-repeat" items="{{accounts}}">
        <div># <span>cuenta numero {{index}}</span></div>
        <div>Iban: <span>{{item.IBAN}}</span></div>
        <div>balance: <span>{{item.balance}}</span></div></br>
    </template> -->

    <vaadin-grid aria-label="Basic Binding Example" items="[[accounts]]">

      <vaadin-grid-column width="60px" flex-grow="0">
        <template class="header">#</template>
        <template>[[index]]</template>
        <!-- If necessary, the footer could be set using <template class="footer"> -->
        <!-- <template class="footer">#</template> -->
      </vaadin-grid-column>

      <vaadin-grid-column>
        <template class="header">IBAN</template>
        <template>[[item.IBAN]]</template>
        <!-- <template class="footer">IBAN</template> -->
      </vaadin-grid-column>

      <vaadin-grid-column>
        <template class="header">balance</template>
        <template>[[item.balance]]</template>
        <!-- <template class="footer">balance</template> -->
      </vaadin-grid-column>

    </vaadin-grid>

    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/accounts/{{userid}}"
      handle-as="json"
      on-response="showData" />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
            accounts: {
            type: Array
          }, userid: {
            type: Number
          }
        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail);
        console.log(data.detail.response);

        this.accounts = data.detail.response;

      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
