<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <body>
      <p><h2>Bienvenido señor [[first_name]] [[last_name]]!</h2></p>

      <p><h3>y su email es [[email]] y su id es [[id]]</h3></p>

      <visor-cuentas userid = [[id]]></visor-cuentas>
    </body>
    <!-- <h2>hola soy [[first_name]] [[last_name]]!</h2>
    <h3>y mi email [[email]] y mi id [[id]]</h3>
    <input type:"range" min=1 value="{{id::input}}" max=30 />
    <visor-cuentas userId = [[id]]></visor-cuentas> -->
    <!-- <input type:"text" value="{{first_name::input}}" />
    <input type:"range" min=18 value="{{age::input}}" max="99" /> -->
    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData" />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Mother fucker'
          }, prueba2: {
            type: String
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          },email:{
            type: String
          }, id: {
            type: Number
          }
        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail);
        console.log(data.detail.response);

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
